body{
    font-family: 'Lato', sans-serif;
    margin: 0;
}

span{
    text-align: center;
}

.align1stdiv{
    text-align: center;
    border: 1px solid black;
}

.div2ndSep{
    text-align: center;
}
  

.imgmeme {
    border: 1px dashed black;
    top: 20%;
    left: 20%;
    right: 20%;
    bottom: 20%;
}

.box {
    width: 500px;
    height: 500px;
    border: 2px dashed red;
}

#output{
    width: 498px;
    height: 498px;
    z-index: 0;
    position: -ms-page;
}

#memetexttop{
    z-index: 1;
    position: absolute;
    word-break: break-all;
}

#memetextbottom{
    z-index: 2;
    bottom: 0%;
    position: absolute;
    word-break: break-all;
}