body{
    font-family: 'Lato', sans-serif;
    margin: 0;
    word-break: break-all;
}

span{
    text-align: center;
    word-break: break-all;
}

.align1stdiv{
    text-align: center;
    border: 1px solid black;
    word-break: break-all;
}

.box {
    width: 500px;
    height: 500px;
    border: 3px solid yellowgreen;
    position: relative;
}

.imgoutput{
    width: 100%;
    height: 100%;
    z-index: 0;
    word-break: break-all;
    position: absolute;
}

#memetexttop{
    font-size: 30px;
    z-index: 4;
    word-break: break-all;
    text-align: center;
}

#memetextbottom{
    z-index: 3;
    bottom: 2%;
    word-break: break-all;
    font-size: 30px;
}

p {
    word-break: break-all;
}

.breaktext {
    word-break: break-all;
    width: 500px;
    height: 500px;
    position: absolute;
}
.box p { /* Busca apenas as tags dentro da div */
    position: absolute;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin-left: 2px;
    margin-right: 2px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000;
    font-size: 3em; color: #fffdd9;

}