body{
    font-family: 'Lato', sans-serif;
}

span{
    text-align: center;
}

.align1stdiv{
    text-align: center;
    font-size: 130%;
}

.div2ndSep{
    
}
.button {
    background-color: #6BFF0D;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}
  
.button:hover {
    background-color: green;
}
  
.chartextmeme{
    resize: none;
    outline: none;
    white-space: nowrap;
}

.inputalignleft {
    float: left;
}

.inputalignright {
    float: right;
}