body {
    overflow: auto;
    font-family: 'Courier New', Courier, monospace;
    background-color: white;
}
div {
    cursor: default;
}

.menu-div {
    font-weight: 800;
}

.btn-container {
    position: absolute;
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
    font-weight: 800;
}

.btn-font-increase,.btn-font-decrease {
    position: relative;
    margin-left: 50%;
    transform: translate(-50%);
    text-align: center;
    background-color: white;
    color: black;
    width: 10px;
    height: 10px;
    padding: 3px;
}

.text-button {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.image-container {
    position: absolute;
    display: inline-flex;
    width: 50%;
    min-height: 50%;
    margin-top: 35px;
    margin-bottom: 65px;
    left: 50%;
    transform: translate(-50%);
    right: auto;
    padding: 0px;
    text-align: center;
    font-size:50px;
    border: 8px solid black;
    resize: both;
    overflow: hidden;
}

.image-meme {   
    width: 100%;
}

.text {
    position:absolute;
    text-align: center;
    margin: 0px 5px;
    max-width: 100%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    -webkit-text-stroke: 2px black;
    word-break:break-all;
  white-space:normal;
}
.text.up{
    top: 0%;
    left: 0%;
    width: 100%;
    text-align: center;
}

.text.down {
    bottom: 0%;
    left: 0%;
    width: 100%;
    text-align: center;
}

.borders {
    width: 150px;
    margin-top: 140px;
}

.border-colors {
    position: relative;
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 3px 1px;
}
.black{ background-color: black; border: 1px solid white;}
.blue {background-color: blue;}
.green {background-color: #0FA36B;}
.gold {background-color: goldenrod;}
.red {background-color: red}


.miniatures {
    position: absolute;
    width: 150px;
    right: 30px;
    top: 280px;
    max-height: 350px;
    padding: 20px 10px;
    overflow: auto;
}

.img-small {
    max-width: 100%;
    margin: 5px 0px;
}
