* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*{
    padding: 0;
    margin: 0;
}



.main-container{
    padding: 20px 0px 20px 20px;
    
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    
    align-content: center;
    
}

.content{
    display: flex;
    flex-direction: row;
}



.ipttxt{
    margin:5px;
}

.div-imagem{
    width: 506px;
    height: 606px;
    border: 3px black solid;
    position: relative;
    margin-top: 20px;
    margin-right: 0;
    
    
}

.div-imagem img,p{
    position: absolute;
}

#imagemMeme{
    width:100%;
    height:100%;
}

p{  
    padding: 10px;
    margin-left: 20px;
    color:yellow;
    font-size: 40px;
    text-transform: uppercase;
    word-break: break-all;
    text-align: center;
    
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.txt-meme.c{
    top:0;
}

.txt-meme.b{
    bottom:0;
}

.colectionmemes{
    display: flex;
    flex-direction: row;
    
    
    flex-wrap: wrap;
    
    width: 450px;
    height: 410px;
}

.colectionmemes img{
    margin: 2px;
    width: 200px;
    height: 200px;
}

.bordas{
    display: flex;
    orientation: row;

    

    margin-top: 10px;
    
}


.subbordas{
    width: 40px;
    height: 40px;
    margin-left: 20px;
}

#border1{
    border: 2px black solid;
    margin-left: 10px;
}
#border2{
    border: 2px black dotted;
}
#border3{
    border: 2px black dashed;
}

#salvar{
    width:60px;
    height: 30px;
}

.collection{
    display: flex;
    orientation: row;

    flex-wrap: wrap;
}


.itemcolection{
    width: 126px;
    height: 152px;
    border: 1px black solid;
    position: relative;
    margin-top: 5px;
    margin-right: 0;
    margin-left: 3px;
}

.itemcolection p{  
    padding: 2.5px;
    margin-left: 5px;
    color:yellow;
    font-size: 10px;
    text-transform: uppercase;
    word-break: break-all;
    text-align: center;
    
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.itemcolection img{
    width:100%;
    height:100%;
}