* {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
body {
    background-image: url("imagens/novaback.jpg");
    background-color: #cccccc;
}
#escolha {
    color: aliceblue;
    padding-bottom: 15px;
    
}
.miniaturas {
    width: 190px;
    height: 150px;
    padding-top: 42px;
    border: 1px solid rgb(224, 15, 15);
    border-radius: 4px;
    padding: 5px;
    max-width: 100%;
    max-height: 100%;
    
}

#menu{
    width: 237px;
    position: absolute;
    top: 9px;
    
}

.miniaturas:hover {
    box-shadow: 0 0 20px 10px rgba(231, 177, 140, 0.5);
}

#fotoprincipal {
    width: 960px;
    height: 600px;
    top: 127px;
    left: 33%;
    position: absolute;
    border: 3px solid red
}

input, button {
    top: 51px;
    height: 29px;
    background:rgba(45, 45, 45, 0.52);
    border-radius: 16px;
    border: 1px solid #3d3d3d;
    border: 1px solid rgba(255,255,255,.15);
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.1) inset;
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #fff;
    text-shadow: 0 1px 2px rgba(0,0,0,.1);
}
input:focus, button:focus{
    border-color: rgb(39, 136, 0);
    border-block-start-color: aqua;
    border: 2px solid;
}
#barraSuperior{
    position: absolute;
    top: 39px;
    left: 547px;
    
}

.texto_meme {
    color: #fafafa;
    font: bold;
    word-break: break-all;
    
    
    padding: -18px;
    font-size: 40px;
    text-align: center;
    margin-block-start: 11em;
}

#salvar{
    top: 747px;
    left: 1377px;
    position: absolute;
}

#fotoparatrocar {
    width: 960px;
    height: 600px;
}
#texto_memeCima{
    position: absolute;
    top: -427px;
    left: 16px;
    
}
#texto_memeBaixo{
    position: absolute;
    bottom: 58px;
    left: 25px;
    
}
#cor{
    top: 747px;
    left: 574px;
    position: absolute;
}


