body {
    background-image: url("imagens/novaback.jpg");
    background-color: #cccccc;
}

.menu {
    border-radius: 4px;
    width: 150px;
    margin-left: 15px;
    margin-right: 500px;
    position:relative;
    float: left;
}

img {
    border: 1px solid rgba(197, 20, 20, 0.157);
    border-radius: 10px;
    padding: 5px;
    max-width: 100%;
    max-height: 100%;
}

img:hover {
    box-shadow: 0 0 20px 10px rgba(231, 177, 140, 0.5);
}

h3 {
    text-shadow: 2px 8px 6px rgb(154, 52, 61);
    color: aliceblue;
    position: relative;
    top: -38px;
    left: 32px;
    border-bottom-width: 24px;
    margin-left: 8px;
    margin-right: 1396px;
    margin-block-end: -4em;
    font-weight: bold;
    font-size: 20px;
}

ul.miniaturas {
    position: absolute;
    width: 189px;
    padding-top: 42px;
}

.fotoprincipal {
    width: 67%;
    position: relative;
    float: right;
    margin-right: 114px;
    padding-top: 60px;
    
}
#btnBusca{
    border:none;
    float:left;
    height:32px;
    border-radius:0 7px 7px 0;
    width:70px;
    font-weight:bold;
    background:#5F9EA0;
}
#divBusca{
    display: block;
    background-color:#2F4F4F;
    border:solid 1px;
    border-radius:15px;
    width: 892px;
    margin-left: 537px;
    margin-top: 12px;
    margin-bottom: -141px;
}
#texto{
    float: right;;
    background-color:transparent;
    padding-left:5px;
    font-style:italic;
    font-size:18px;
    border:none;
    height:32px;
    width:260px;
}
#texto_meme {
    position: relative;
    color: #cccccc;
    margin: 538px;
    font-size: xx-large;
    }
#fotoparatrocar {
    width: 80%;
    position: relative;
    float: right;
    margin-right: 114px;
    padding-top: 7px;
    max-width: 100%;
    max-height: 100%;
}