body {
    background-image: url("imagens/novaback.jpg");
    background-color: #cccccc;
}

.menu {
    border-radius: 4px;
    width: 150px;
    margin-left: 15px;
    margin-right: 500px;
}

img {
    border: 1px solid rgb(224, 15, 15);
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    max-width: 100%;
    max-height: 100%;
}

img:hover {
    box-shadow: 0 0 20px 10px rgba(231, 177, 140, 0.5);
}

h2 {
    color: aliceblue;
    position: relative;
    top: 2px;
    left: 40px;
    border-bottom-width: 20px;
}

ul.miniaturas {
    position: relative;
    width: 150px;
}

div.fotoprincipal {
    position: absolute;
    width: 60%;
    background-color: white;
    margin-bottom: 25px;
    float: left;
}