@font-face {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    src: url('Impact.ttf');
 }

.container{
    width: auto;
    height: auto
}

.imgdisplay{
width: 500px;
height: 500px;
border-style: solid;
border-width: 5px;
border-color: black;
position: absolute;

}

.editconteiner {
position: relative;
width: 500px;
height: 500px;

}



 #textofinalcima{

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
     font-size: 32px;
     color: white;
     position: absolute;
     word-break: break-all;
     padding: 10;
     text-transform: uppercase;
     margin-left: 25px;

 }
 
 #textofinalbaixo{

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
     font-size: 32px;
     color: white;
     position: absolute;
     word-break: break-all;
     padding: 10;
     bottom: 0;
     text-transform: uppercase;
     margin-left: 25px;

 }
 