body{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url();
}

#local-da-imagem-inserida {
    border: 2px solid rgb(0, 0, 0);
    width: 43%;
    height: 500px;
    margin: 0 auto 0 auto;
    margin-top: 40px;
    word-break: break-all;
    line-break: normal;
}

#mensagem-parte-superior-da-foto-meme{
    font-size: 10mm;
    font-family: Cambria, sans-serif;
    position: absolute;
    width: 41%;
    top:300px;
    margin-left: 1%;
    color: yellow;
}

#mensagem-parte-inferior-da-foto-meme{
    font-size: 10mm;
    font-family: Cambria, sans-serif;
    position: absolute;
    width: 41%;
    top: 700px;
    margin-left: 1%;
    color: yellow;
}

.imagem-inserida{
    width: 100%;
    height: 100%;
    position: relative;
}
