body {
    overflow: auto;
}
.center {
    position: fixed;
    margin-top: 5px;
    margin-bottom: 35px;
    left: 50%;
    top: 50%;
    width: 65%;
    height: 95%;
    padding: 0 35px;
    text-align: center;
    transform: translate(-50%,-50%);
    border: 2px solid black;
    overflow: auto;
}

.image-container {
    position: absolute;
    width: 50%;
    height: 80%;
    margin-top: 65px;
    margin-bottom: 65px;
    left: 50%;
    transform: translate(-50%);

    right: auto;
    padding: 1px;
    text-align: center;
    border: 3px solid red;
}

.imagem-meme {
    
    max-width: 100%;
    max-height: inherit;
}

.newText{
    position:absolute;
    bottom: 0%;
    left: 0%;
    border-right: auto;
    width: 100%;
    font-size: 42px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    -webkit-text-stroke: 2px black;

}