.img{
    width: 400px;
    height: 400px;
    margin: 15px 0px 10px 6px;
    border-width: 5px;
    border-style: solid;
    border-color: green;
    position: absolute;
}

#output{
    width: 400px;
    height: 400px;
}

#diretorio{
    padding: 20px 0px 0px 0px;
}

#frase{
    margin: 0px 0px 10px 0px;
    text-align: center;
}

#frasecima{
    margin: 25px 0px 10px 0px;
    text-align: center;
}

#textocima{
    padding: 10px;
    position: absolute;
    top: -25px;
    word-break: break-all;
    z-index: 3;
}

#textobaixo{
    padding: 10px;
    position: absolute;
    bottom: 0;
    word-break: break-all;
    z-index: 2;
}

@font-face {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    src: url('Impact.ttf');
}

.fonte{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    font-size: 30px;
    text-transform: uppercase;
}

#fonte1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: green;
    font-size: 30px;
    text-transform: uppercase;
}

strong{
    color: green;
}